body {
    background-color: #000;
    color: #fff;
    font-family: "Verdana", Helvetica, sans-serif;
    font-size: 20px;
    
}

a:link, a:visited {
    color: #ffc63d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #dc8833;
    text-decoration: none;
}

a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
    text-decoration: none;
    border: 0;
    background-color: inherit;
    color: transparent;
}

.miniheader {
    background-color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 0;
    border-radius: 4px;
}

.miniheader a:link, .miniheader a:visited {
    color: #ffffff;
    text-decoration: none;
}

.header {
    margin: 48px 0 10px 0;
    text-align: center;
}

.navbar {
    background-color: #000;
    text-align: center;
    margin: 0 auto;
    /*border: 1px solid #000;
    width: 450px;
    border-radius: 10px;*/
}

.navbar img {
    float: left;
}

.navbar a:link, .navbar a:visited {
    display: block;
    padding: 6px 15px;
    margin: 0 4px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 0px solid white;
}

.navbar a:hover, .navbar a.current:link, .navbar a.current:visited {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    /*border-radius: 25px 10px / 10px 25px;*/
    border: 0px solid black;
}

.navbar ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;
}

.navbar li {
    float: left;
    margin: 0px 0px;
    margin-top: 7px;
    padding: 0;
	list-style-type: none;
}

.content {
    width: 480px;
    margin: 0 auto;
}

.cite {
    font-style: italic;
    color: #777;
}

.cite a:link, .cite a:visited {
    color: #555;
}

footer {
    text-align: center;
    margin: 20px 0;
}

a img {
    margin: 0px;
    border-radius: 4px;
}

p {
    line-height: 150%;
}

iframe {
    /*border: 1px solid #333; */
    border-radius: 2px;
}

.twitter {
    border-radius: 20px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
}

.quotes {
    font-size: 20px;
    color: #ddd;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 14px;
    }
    .quotes {
        font-size: 16px;
    }
    .content {
        width: 280px;
        margin: 0 auto;
    }
    iframe {
        max-width: 280px;
        max-height: 210px;
    }
    .header {
        margin: 32px 0 10px 0;
    }
    .header img {
        max-width: 280px;
    }
    .navbar a:link, .navbar a:visited {
        padding: 7px 8px;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
}