<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}{% if page.title %} | {% endif %} Kid Tripp</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="keywords" content="kid tripp, game, ios, iphone, ipad, ipod, ipod touch, itouch, itunes app, app store, platformer, runner, 2D, retro, pixel-art, old-school" />
    <meta name="description" content="A super-tough old-school indie platformer. Available now on Nintendo 3DS!" />
</head>

<body>
    <div class='header'>
        <img alt="Kid Tripp" src='/img/ktlogo.png' />
    </div>
    <div class='content'>
        {{ content }}
    </div>
    <footer>
        <p>
            For review code requests, <a href='http://fourhorses.co.uk/contact/'>contact the publisher Four Horses</a>.
        </p>
        <p>
            <a href='http://thepixelguy.com/contact/'>Contact Mike</a> | <a href='http://chriskukla.com/'>Chris Kukla</a> | <a href='http://fourhorses.co.uk/'>Four Horses, Ltd</a> | <a href='https://twitter.com/KidTrippGame'>Twitter</a>
        </p>
        <p>&copy; 2013-2020 Mike Burns</p>
    </footer>
</body>

</html>
