<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}{% if page.title %} | {% endif %} Kid Tripp</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    
    <div class='header'>
        <img src='/img/ktlogo.png' />
    </div>
    
    <div class='content'>
        {{ content }}
    </div>
    <footer>
        <p>
            <a href='mailto:mike@ndygames.com'>Contact Mike</a> | <a href='http://chriskukla.com/'>Chris Kukla's Website</a> | <a href='https://twitter.com/KidTrippGame'>Twitter</a>
        </p>
        <p>&copy; 2013 Mike Burns</p>
    </footer>
</body>

</html>