<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}{% if page.title %} | {% endif %} Kid Tripp</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/lightbox-2.6.min.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    
    <div class='header'>
        <img src='/img/ktlogo.png' />
    </div>
    
    <div class='content'>
        <div style='background-color: #000; font-size: 14px; font-weight: bold; margin: -32px 0 16px 40px;'>
            <a href='/'>home</a> &nbsp;&nbsp; <a href='/about/'>about</a> &nbsp;&nbsp; <a href='/support/'>support</a> &nbsp;&nbsp; <a href='http://twitter.com/KidTrippGame'>twitter</a></div>
        {{ content }}
    </div>
    <footer>
        <p>&copy; 2013-2014 Mike Burns</p>
    </footer>
</body>

</html>
